<style>
    .marquee {
        animation: marquee 50s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-10500px, 0);
        }
    }

    .gb_stage1 {
        display: none;
        opacity: 0;
        transition: 1s;
    }
</style>

<div id="genetics_background" class="carousel-item full grid-background">
    <svg id="figure" viewBox="0 0 1000 1000">
        <g class="text-content">
            <g class="gb_stage0">
                <text x="100" y="100">So how does this relate to genetics?</text>
                <text x="100" y="200">Consider your genome as a very long sequence of</text>
                <text x="100" y="250">"A"s, "C"s", "G"s, and "T"s. There are in fact</text>
                <text x="100" y="300">approximately three billion of these letters lined</text>
                <text x="100" y="350">up one after the other, and the exact combination is</text>
                <text x="100" y="400">unique to just you.</text>
            </g>
            <g class="gb_stage1">
                <text x="100" y="100">If you compare your genome to others, you will see</text>
                <text x="100" y="150">that there are subtle differences. Where you have a</text>
                <text x="100" y="200">“T”, they have a “C”. We describe positions in the</text>
                <text x="100" y="250">genome where we see multiple possible letters as</text>
                <text x="100" y="300"><tspan font-weight="700">“polymorphic”</tspan>, and if you look at enough genomes,</text>
                <text x="100" y="350">you will see that nearly all positions in the genome</text>
                <text x="100" y="400">are in fact polymorphic to some degree.</text>
            </g>
        </g>
        <g class="diagram">
            <g class="gb_stage0 gb_stage1">
                <text x="-500" y="600" font-size=2em class="marquee" letter-spacing="5">TCTCGTTCCCGCAGCTTGCCAGCACTTTCAGAATCATGGCGTGCATGGTAGAATGACTCTTATAACGGACTTCGACATGGCAATATCCCCCCCTTTCAACTTC<tspan fill="black">G</tspan>TAGAGGAGAAAAGTATTGACATGAGC<tspan fill="black">G</tspan>CTCCCGGCACAACGGCCAAAGAAGTCTCCAATTTCTTA<tspan fill="black">G</tspan>TTTCCGAATGACATGCGTCTCCTTGCGGGTAAATCGCCGACCGCAAAACTTAGGAGCCAGGGGGAACAGATAGGTCTA<tspan fill="black">G</tspan>ATTAGCTTAAGGGA<tspan fill="black">T</tspan>GTAAATCCTGGGATCGTTCAGTTGTAACCATATACTTACGCTGGGGCTTCTCCGGCGGATTTTTACTGTCACCAACCACGAGATTTGAAGTAAACCAATTGAGCACATAGCC</text>
            </g>
            <g class="gb_stage1">
                <text x="-500" y="550" font-size=2em class="marquee" letter-spacing="5">TCTCGTTCCCGCAGCTTGCCAGCACTTTCAGAATCATGGCGTGCATGGTAGAATGACTCTTATAACGGACTTCGACATGGCAATATCCCCCCCTTTCAACTTC<tspan fill="black">G</tspan>TAGAGGAGAAAAGTATTGACATGAGC<tspan fill="black">G</tspan>CTCCCGGCACAACGGCCAAAGAAGTCTCCAATTTCTTA<tspan fill="red"  >C</tspan>TTTCCGAATGACATGCGTCTCCTTGCGGGTAAATCGCCGACCGCAAAACTTAGGAGCCAGGGGGAACAGATAGGTCTA<tspan fill="black">G</tspan>ATTAGCTTAAGGGA<tspan fill="black">T</tspan>GTAAATCCTGGGATCGTTCAGTTGTAACCATATACTTACGCTGGGGCTTCTCCGGCGGATTTTTACTGTCACCAACCACGAGATTTGAAGTAAACCAATTGAGCACATAGCC</text>
                <text x="-500" y="650" font-size=2em class="marquee" letter-spacing="5">TCTCGTTCCCGCAGCTTGCCAGCACTTTCAGAATCATGGCGTGCATGGTAGAATGACTCTTATAACGGACTTCGACATGGCAATATCCCCCCCTTTCAACTTC<tspan fill="black">G</tspan>TAGAGGAGAAAAGTATTGACATGAGC<tspan fill="red"  >T</tspan>CTCCCGGCACAACGGCCAAAGAAGTCTCCAATTTCTTA<tspan fill="red"  >C</tspan>TTTCCGAATGACATGCGTCTCCTTGCGGGTAAATCGCCGACCGCAAAACTTAGGAGCCAGGGGGAACAGATAGGTCTA<tspan fill="red"  >T</tspan>ATTAGCTTAAGGGA<tspan fill="black">T</tspan>GTAAATCCTGGGATCGTTCAGTTGTAACCATATACTTACGCTGGGGCTTCTCCGGCGGATTTTTACTGTCACCAACCACGAGATTTGAAGTAAACCAATTGAGCACATAGCC</text>
                <text x="-500" y="700" font-size=2em class="marquee" letter-spacing="5">TCTCGTTCCCGCAGCTTGCCAGCACTTTCAGAATCATGGCGTGCATGGTAGAATGACTCTTATAACGGACTTCGACATGGCAATATCCCCCCCTTTCAACTTC<tspan fill="black">G</tspan>TAGAGGAGAAAAGTATTGACATGAGC<tspan fill="black">G</tspan>CTCCCGGCACAACGGCCAAAGAAGTCTCCAATTTCTTA<tspan fill="black">G</tspan>TTTCCGAATGACATGCGTCTCCTTGCGGGTAAATCGCCGACCGCAAAACTTAGGAGCCAGGGGGAACAGATAGGTCTA<tspan fill="red"  >T</tspan>ATTAGCTTAAGGGA<tspan fill="black">T</tspan>GTAAATCCTGGGATCGTTCAGTTGTAACCATATACTTACGCTGGGGCTTCTCCGGCGGATTTTTACTGTCACCAACCACGAGATTTGAAGTAAACCAATTGAGCACATAGCC</text>
                <text x="-500" y="750" font-size=2em class="marquee" letter-spacing="5">TCTCGTTCCCGCAGCTTGCCAGCACTTTCAGAATCATGGCGTGCATGGTAGAATGACTCTTATAACGGACTTCGACATGGCAATATCCCCCCCTTTCAACTTC<tspan fill="red"  >C</tspan>TAGAGGAGAAAAGTATTGACATGAGC<tspan fill="black">G</tspan>CTCCCGGCACAACGGCCAAAGAAGTCTCCAATTTCTTA<tspan fill="black">G</tspan>TTTCCGAATGACATGCGTCTCCTTGCGGGTAAATCGCCGACCGCAAAACTTAGGAGCCAGGGGGAACAGATAGGTCTA<tspan fill="black">G</tspan>ATTAGCTTAAGGGA<tspan fill="red"  >G</tspan>GTAAATCCTGGGATCGTTCAGTTGTAACCATATACTTACGCTGGGGCTTCTCCGGCGGATTTTTACTGTCACCAACCACGAGATTTGAAGTAAACCAATTGAGCACATAGCC</text>
            </g>
        </g>
        <g class="buttons">
            <g id="gb0_buttons" class="gb_stage0"></g>
            <g id="gb1_buttons" class="gb_stage1"></g>
        </g>
    </svg>

    <script>
        d3.selectAll(".gb_stage0").style("display", "block");
        d3.selectAll(".gb_stage0").style("opacity", "1");

        create_button("gb0_buttons", "gb0_next", "Next", 450, 850, 100, 50);
        create_button("gb1_buttons", "gb1_next", "Next", 450, 850, 100, 50);
        d3.select("#gb0_next")
            .on("click", function(event, d) {
                d3.selectAll(".gb_stage0").style("display", "none");
                d3.selectAll(".gb_stage1").style("display", "block").transition().style("opacity", "1");
            });
    </script>
</div>