<div id="euler_diagram_explanation" class="carousel-item full">
    <div class="figure">
        <svg viewBox="0 0 117.64 268.74">
            <circle class="circle" cx="30.15" cy="223.98" r="15.61"/>
            <circle class="circle" cx="67.7" cy="223.98" r="43.76"/>
            <circle class="circle" cx="43.1" cy="55.64" r="28.46"/>
            <circle class="circle" cx="82.9" cy="55.64" r="28.46"/>
            <text class="text" transform="translate(27.47 10.04)">
                Venn Diagram
            </text>
            <text class="text" transform="translate(8.36 123.83)">
                and its corresponding
            </text>
            <text class="text" transform="translate(28.3 162.17)">
                Euler diagram
            </text>
            <text class="label" transform="translate(29.09 58.36)">20</text>
            <text class="label" transform="translate(79.04 58.36)">500</text>
            <text class="label" transform="translate(56.57 58.36)">50</text>
            <text class="label" transform="translate(0 204.73)">20</text>
            <text class="label" transform="translate(63 227.56)">500</text>
            <text class="label" transform="translate(28.06 227.55)">50</text>
            <line class="line" x1="12" y1="207" x2="17.26" y2="212.55"/>
        </svg>
    </div>
    <div class="carousel-caption">
        <button id="slide1_hide" class="carousel-control-hide-caption" type="button" onclick="modify_caption(this.id)">
            <p class="caption-control-text">Hide Caption</p>
            <span class="carousel-control-prev-icon hide-caption-icon" aria-hidden="true"></span>
        </button>
        <p class="desc">Like Venn diagrams, Euler diagrams are a method for visualizing the overlap in groups. Euler diagrams have the added property that the areas of the overlaps are proportional to the amount shared between the respective groups.</p>
    </div>
</div>