<style>
    .grid-background {
        background-size: 40px 40px; /* Size of each grid cell */
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    }

    #figure {
        opacity: 0;
        transition: opacity 1s ease-in-out;
        height: 100%;
        width: 100%;
    }

    #diagram {
        animation-name: float;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes float {
        0% {transform: translateY(0.25%);}
        50% {transform: translateY(-0.25%);}
        100% {transform: translateY(0.25%);}
    }
</style>

<div id="eu" class="carousel-item full grid-background">
    
    {%- include slides/euler_diagram_explanation/venn_diagrams.html -%}

    <script>
        var rough_example_loaded = false;
        var line = d3.line();

        function getRandomInt(min, max) {
            min = Math.ceil(min); // Ensure min is an integer
            max = Math.floor(max); // Ensure max is an integer
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        $("#carousel").on("slid.bs.carousel", function () {
            if (document.getElementById("rough_example").classList.contains("active")) {
                if (rough_example_loaded == false) {
                    var diagram = document.getElementById("diagram");
                    var rc = rough.svg(diagram);
                    var circle1 = rc.circle(30.15*5+100, 500, 15.61*10, {strokeWidth: 3, disableMultiStroke: true, fill: "rgba(255,0,0,0.2)", fillStyle: "solid"});
                    var circle2 = rc.circle(67.7*5+100, 500, 43.76*10, {strokeWidth: 3, disableMultiStroke: true, fill: "rgba(0,0,255,0.2)", fillStyle: "solid"});
                    diagram.appendChild(circle1.children[0]);
                    diagram.appendChild(circle2.children[0]);
                    diagram.appendChild(circle1.children[0]);
                    diagram.appendChild(circle2.children[0]);
                    
                    // Animate the graph for the first time
                    d3.selectAll("path")
                        .each(function(d, i) {
                            var path = d3.select(this);
                            // Get the length of the path, which we will use for the intial offset to "hide"
                            // the graph
                            var length = path.node().getTotalLength();
                            // Animate the path by setting the initial offset and dasharray and then transition the offset to 0
                            path
                                .attr("stroke-dasharray", length + " " + length)
                                .attr("stroke-dashoffset", length)
                                .transition()
                                .ease(d3.easeLinear)
                                .attr("stroke-dashoffset", 0)
                                .duration(getRandomInt(500, 4000));
                        });
                    
                    var svg = d3.select("#figure");
                    svg.style("opacity", 1);
                    

                    /*
                    var annotation = svg.append("g");
                    var line_connector = annotation.append("g");
                    
                    line_connector.append("path")
                        .attr("d", line([[67.7*5+100+100, 500-100],[67.7*5+100+200, 500-200]])+line([[67.7*5+100+200, 500-200],[67.7*5+100+250, 500-200]]))
                        .attr("stroke", "grey")
                        .attr("stroke-dasharray", 4)
                        .attr("stroke-width", 2);

                    annotation.append("text")
                        .text("This is text.")
                        .attr("x", 67.7*5+100+250+10)
                        .attr("y", 500-200)
                        .attr("font-size", "2em")
                        .attr("fill", "grey")
                        .attr("dominant-baseline", "central");
                    */

                    rough_example_loaded = true;
                }
            }
        });
    </script>
</div>