<div id="box"></div>
<script type="module">
    const pyodide = await loadPyodide();
    await pyodide.loadPackage(["shapely"]);
    const shapely = await pyodide.pyimport("shapely");
    
    pyodide.runPython(`
        import js
        import math
        from shapely.geometry import Polygon
        from shapely.ops import unary_union
        from itertools import combinations


        def createPointsListForEllipse(x, y, a, b, angle):
            y = -y
            angle = -angle
            theta = [x * 2 * math.pi / 100 for x in range(100)]
            coords = []
            for i in theta:
                coords.append([a * math.cos(i) * math.cos(angle) - b * math.sin(i) * math.sin(angle) + x, a * math.cos(i) * math.sin(angle) + b * math.sin(i) * math.cos(angle) + y]) 
            return coords

        def calculate_intersection_areas(data):
            ellipses = []
            for ellipse in data:
                poly = Polygon(createPointsListForEllipse(ellipse.h, ellipse.k, ellipse.a, ellipse.b, ellipse.phi))
                ellipses.append(poly)
            areas = []
            for a in range(len(ellipses)):
                a_sum = 0
                for combo in combinations(range(len(ellipses)), a+1):
                    poly_combo = ellipses[combo[0]]
                    for i in range(len(combo)-1):
                        poly_combo = poly_combo.intersection(ellipses[combo[i+1]])
                    not_combo = [e for i,e in enumerate(ellipses) if i not in combo]
                    poly_not = unary_union(not_combo)
                    diff = poly_combo.difference(poly_not)
                    a_sum += diff.area
                areas.append(a_sum)
            if len(areas) > 0:
                total = sum(areas)
                areas = [round((a/total)*100) for a in areas]
            else:
                areas = ["~"]
            return areas

        js.intersection_stats = calculate_intersection_areas
    `);

    document.getElementById("box").remove();
</script>

<script>
    var loader = d3.select("#box");
    loader.append("div").attr("class", "loader");
    loader.append("h1").text("LOADING...");
</script>